{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="feed">
                <a class="employee-card" href="employee/">
                   
                    <div class="employee-info">
                        <strong>Nzambo Daphney</strong>
                        <span>Sales Manager</span>
                    </div>
                </a>
                <a class="employee-card" href="employee/">
                    
                    <div class="employee-info">
                        <strong>Alice Daphney</strong>
                        <span>Finance Officer</span>
                    </div>
                </a>
                <a class="employee-card" href="employee/">
                    
                    <div class="employee-info">
                        <strong>Esther Nkake</strong>
                        <span>Accountant</span>
                    </div>
                </a>
                <a class="employee-card" href="employee/">
                    
                    <div class="employee-info">
                        <strong> Oceane Bitoungui</strong>
                        <span>Lawyer</span>
                    </div>
                </a>
                <a class="employee-card" href="employee/">
                   
                    <div class="employee-info">
                        <strong>Maryvonne Bang</strong>
                        <span>Tech Lead</span>
                    </div>
                </a>
                <!-- Add more fake employees as needed -->
            </div>
{% endblock %}