<!DOCTYPE html>
<html lang="en">
<head>
    <title>HR Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/styles/layout.css' %}">
    

</head>
<body>
    <!-- Include headers -->
     {% include "shared/components/header.html" %}

    <div class="container">
        {% include "shared/components/sidenav.html" %}
        
        <div class="content">
            <!-- search bar -->
            {% include "shared/components/search.html" %}
            {% block content %}
            <!-- Main content goes here -->
            {% endblock %}

        </div>
   </div>
   
</body>
</html>